<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OceanModel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CandidateLogin</display-name>
    <servlet-name>CandidateLogin</servlet-name>
    <servlet-class>CandidateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateLogin</servlet-name>
    <url-pattern>/CandidateLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateRegister</display-name>
    <servlet-name>CandidateRegister</servlet-name>
    <servlet-class>CandidateRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateRegister</servlet-name>
    <url-pattern>/CandidateRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hrlogin</display-name>
    <servlet-name>hrlogin</servlet-name>
    <servlet-class>hrlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hrlogin</servlet-name>
    <url-pattern>/hrlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHr</display-name>
    <servlet-name>AddHr</servlet-name>
    <servlet-class>AddHr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHr</servlet-name>
    <url-pattern>/AddHr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addjob</display-name>
    <servlet-name>Addjob</servlet-name>
    <servlet-class>Addjob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addjob</servlet-name>
    <url-pattern>/Addjob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuiz</display-name>
    <servlet-name>AddQuiz</servlet-name>
    <servlet-class>AddQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuiz</servlet-name>
    <url-pattern>/AddQuiz</url-pattern>
  </servlet-mapping>
</web-app>